{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}


<section id="banner" class="container d-flex d-none d-sm-block home-banner">
    <div>
        <h1>Welcome to The Book Loop</h1>
        <p>
            your own eco-friendly book community
        </p>
    </div>
    <a class="shop-btn btn" href="#">
        SHOP NOW
    </a>

</section>

<!-- Landing Banner Img/ Mobile-specific content -->
<section class="home-banner container-fluid d-block d-sm-none p-6">
    <h2 class="text-pink">Welcome to The Book Loop</h2>
    <a class="shop-btn btn" href="#">
        SHOP NOW
    </a>
</section>

<section id="about" class="container">
    <div class="row d-flex about-sec">
        <div class="col-md-6 about-img">
        </div>
        <div class="col-md-6 about-content text-center">
            <h3>What we do here</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in nulla sit amet erat tincidunt
                rhoncus. Nam mollis iaculis ex eu lobortis. Morbi vestibulum tempor massa, sed facilisis augue. Praesent
                ut
                viverra dolor. Aenean id porttitor nisi. Etiam aliquet, mi nec euismod bibendum, lacus eros fringilla
                mauris, ut suscipit velit neque in velit. Sed in mattis ex, eu cursus nisl. Sed vehicula augue vitae
                erat
                posuere, iaculis euismod purus imperdiet. Phasellus semper nisl vel mauris posuere pretium. Suspendisse
                ut
                nibh magna. Vivamus ac scelerisque lorem. Morbi posuere pretium lectus.
            </p>
        </div>
    </div>
</section>

<section id="best-seller-list" class="container-fluid best-seller-sec">
    <div class="row text-center pt-5">
        <h2>Best Sellar List</h2>
        <p>Our best selling books at the moment</p>
    </div>
    <div class="row d-flex best-sellers">
        <div class="col">
            <div class="best-seller-img"></div>
            <p class="text-center">title</p>
        </div>
        <div class="col">
            <div class="best-seller-img"></div>
            <p class="text-center">title</p>
        </div>
        <div class="col">
            <div class="best-seller-img"></div>
            <p class="text-center">title</p>
        </div>
        <div class="col">
            <div class="best-seller-img"></div>
            <p class="text-center">title</p>
        </div>
    </div>

</section>

<section id="sell-books-form" class="sell-books-sec text-center text-white">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3>We will buy your pre-loved books!</h3>
            <p>Here at The Book Loop, we try our best to foster a high standard for zero waste.
                We would love to hear about what books you have at home and give you an amazing price!
            </p>
        </div>
        <div class="col">
            <div class="used-books-form">
                {% if user.is_authenticated %}
                <form>
                    user book form
                </form>
                {% else %}
                <p><a href="#">Log in</a> to sell your old books today</p>
                {% endif %}
            </div>
        </div>
    </div>

</section>

{% endblock %}