{% extends "base.html" %}
{% load static %}

{% block content %}


<section id="user-info" class="container-fluid p-3">
    <h3 class="text-center m-4 text-white">
        - Welcome to your Profile -
    </h3>
    <hr class="text-white">
    <div class="row mb-5">
        <!-- User Information and Default Delivery Information -->
        <div class="col-12 col-lg-6 mb-4 user-profile-info">
            <h4> User Information </h4>
            <ul>
                <li>
                    Username: {{ profile.user.username }}
                </li>
                <li>
                    Email: {{ profile.user.email }}
                </li>
            </ul>
            <a href="{% url 'edit_user_info' %}" class="btn btn-primary black-btn"> <i class="fa-solid fa-pen-to-square"></i> Edit</a>
            <button class="btn btn-danger red-btn" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</button>

            <!-- Delivery info -->
            <h3 class="text-muted mt-3">Default Delivery Information</h3>
            <ul>
                <li>Phone Number: {{ profile.default_phone_number }}</li>
                <li>Street Address 1: {{ profile.default_street_address1 }}</li>
                <li>Street Address 2: {{ profile.default_street_address2 }}</li>
                <li>Town or City: {{ profile.default_town_or_city }}</li>
                <li>County: {{ profile.default_county }}</li>
                <li>Postcode: {{ profile.default_postcode }}</li>
                <li>Country: {{ profile.default_country }}</li>
            </ul>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary black-btn"> <i class="fa-solid fa-pen-to-square"></i> Edit</a>
        </div>
        
        <!-- Wish list section -->
        <div class="col-12 col-lg-6" id="wish-list">
            <h4 class="text-center p-3">
                Your Wish-List <i class="fa-solid fa-gift"></i>
            </h4>
            <ul class="p-3">
                {% for book in wishlist %}
                <li>
                    <em>{{ book.title }}</em> by {{ book.author }}
                    
                    <a href="{% url 'remove_from_wishlist' book.id %}" class="btn btn-danger red-btn remove-from-wishlist"
                        data-book-id="{{ book.id }}">
                        <i class="fa-solid fa-x"></i>
                    </a>
                    <a href="{% url 'add_to_basket' book.id %}" class="btn btn-primary black-btn">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                    <hr>
                </li>
                {% empty %}
                <p class="text-center">Your wish-list is empty.</p>
                {% endfor %}
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="removeModalLabel">Confirm Removal</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to remove this book from your wishlist?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a id="confirm-remove-btn" href="#" class="btn btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Delete Account Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Confirm Account Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_account' %}" class="btn btn-danger">Delete Account</a>
            </div>
        </div>
    </div>
</div>


<!-- Link to the wishlist.js file -->
<script src="{% static 'js/wishlist.js' %}"></script>

{% endblock %}