{% extends 'base.html' %}
{% block content %}
<h1>Your Basket</h1>
{% if basket %}
{% for book_id, quantity in basket.items %}
<ul>
    <li>
        {{ item.quantity }} x {{ item.book.title }}
        <a href="{% url 'remove-from-basket' book_id %}">Remove</a>
    </li>

</ul>
{% endfor %}
<a href="#">Proceed to Checkout</a>
{% else %}
<p>Your basket is empty.</p>
<a href="{% url 'bookstore:bookstore' %}" class="btn btn-outline-black rounded-0">
    <span class="text-uppercase">Keep Shopping</span>
</a>
{% endif %}
{% endblock %}