{% extends "base.html" %}
{% load static %}

{% block title %}Bookstore{% endblock %}

{% block content %}

<section class="bookstore">

    <div class="bookstore-content container">
        <h2 class="text-center  d-none">Welcome to the Bookstore</h2>

        <!-- Add Product for Super Users -->
        {% if request.user.is_superuser %}
        <section id="add-book-section">
            <h5 class="p-3">Product Admin</h5>
            <br>
            <a href="{% url 'bookstore:add_book' %}" class="add-book-btn m-3">
                <i class="fa-solid fa-plus"></i>
                 add book
            </a>
        </section>
        {% endif %}

        <!-- Search bar -->
        <section class="d-flex justify-content-center align-items-center p-5 search">
            <h2 class="d-none">
                Section Header
            </h2>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'bookstore:bookstore' %}">
                    <div class="input-group w-100">
                        <input class="form-control search-input" type="text" name="q"
                            placeholder="Search books...">
                        <div class="input-group-append">
                            <button class="btn search-button" type="submit" aria-label="search-button">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section id="book-list">
            <div class="container">
                {% if page_obj %}
                <div class="row">
                    {% for book in page_obj %}
                    <div class="col-md-4 mb-2">
                        <div class="card h-100 book-list-cover">
                            <img src="{{ book.cover_image.url }}" class="card-img-top book-list-cover"
                                alt="{{ book.title }}">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text text-muted">{{ book.author }}</p>
                                <a href="{% url 'bookstore:book_detail' book.id %}" class="btn btn-primary detail-btn">Details</a>
                            </div>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="no-results text-center mt-4">
                    <h3>Sorry, we found nothing!</h3>
                    <p>Try searching for a different title or author.</p>
                    <a href="{% url 'bookstore:bookstore' %}">Return to The Book Loop Bookstore</a>
                </div>
                {% endif %}

                <!-- Pagination controls -->
                <nav class="pag-controls" aria-label="Page navigation" {% if not page_obj.has_other_pages %}style="display: none;" {% endif %}>
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</section>


<script src="{% static 'js/image_preview.js' %}"></script>

{% endblock %}