{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid" id="edit-book">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="form-wrapper py-4 px-4">
                <h2 class="logo-font text-center mb-4">Book Management</h2>
                <h5 class="text-muted text-center mb-4">Edit a Book</h5>
                <form method="POST" action="{% url 'bookstore:edit_book' book.id %}" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-dark rounded-0" href="{% url 'bookstore:bookstore' %}">Cancel</a>
                        <button class="btn btn-dark rounded-0" type="submit">Update Book</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        document.getElementById('new-image').addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                document.getElementById('filename').textContent = `Image will be set to: ${file.name}`;
            }
        });
    </script>
{% endblock %}
