
/* -------------------------------------------------------- General */

body {
    font-family: Arial, sans-serif;
    background-color: #aaaaaa;
}

/* -------------------------------------------------------- Nav */

header {
    background-color: white;
}


/* -------------------------------------------------------- Logo */


/* -------------------------------------------------------- Footer */

footer {
    background-color: white;
}


/* -------------------------------------------------------- Home Page */


/* -------------------------------------------------------- Bookstore */


/* -------------------------------------------------------- Register/Login/Logout */


/* -------------------------------------------------------- Customer Service */


/* -------------------------------------------------------- Profile */


/* -------------------------------------------------------- 404 error Page */


/* -------------------------------------------------------- Media Queries */