
/* -------------------------------------------------------- General */

body {
    font-family: Arial, sans-serif;
    background-color: #fff5d3;
}

/* -------------------------------------------------------- Nav */

header {
    background-color: #ffc2b1;
}

.nav-link {
    color: black;
}

.log-link {
    margin-right: 20px;
}

.login-status {
    margin-right: 20px;
}

.basket-icon, .wishlist-icon {
    margin-right: 10px;
    
}


/* -------------------------------------------------------- Logo */

.logo {
    width: 100px;
}

/* -------------------------------------------------------- Footer */

footer {
    background-color: #ffc2b1;
}

.footer {
    justify-content: space-between;
}

.newsletter-form {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 50px 20px;
}


/* -------------------------------------------------------- Home Page */

/* Home Banner */

.home-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/media/site-media/home-banner.png);
    padding: 120px 20px;
    background-position: center;
    justify-content: space-between;
    color: #fff5d3;
}

/* About */

.about-sec {
    justify-content: space-evenly;
    background-color: #ffc2b1;
    padding: 50px 0;
}

.about-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url(/media/site-media/about-img.png);
    border-radius: 2rem;
    height: auto;
    width: 350px;
}

/* Best Sellar List */

.best-seller-sec {
    background-color: #d4a40d;
    padding-top: 30px;
}

.best-sellers {
    justify-content: space-between;
}

.best-seller-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/media/site-media/about-img.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 20px;
}

/* Sell Your Old Books */

.sell-books-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/media/site-media/user-form.png);
    background-size: cover;
    padding: 50px 20px;
}


.used-books-form {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 50px 20px;
}



/* -------------------------------------------------------- Bookstore */

.book-list-cover {
    width: 250px;
}

.book-detail-img {
    width: 350px;
}

.review-list {
    background-color: #ae7c6f;
    color: white;
}


/* -------------------------------------------------------- Register/Login/Logout */

.log-form-card {
    margin: 100px;
}


/* -------------------------------------------------------- Customer Service */


/* -------------------------------------------------------- Profile */


/* -------------------------------------------------------- 404 error Page */


/* -------------------------------------------------------- Media Queries */

/* Styles for screens larger than 1000px */
@media screen and (min-width: 1000px) {

    /* About Page */

    .about-img {
        height: 500px;
        width: 400px;
    }

    .about-content {
        margin-top: 100px;
    }


    /* Best Sellers */

    .best-seller-img {
        height: 160px;
        width: 160px;
    }
}