@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------------------------------------------------- General */

body {
    font-family: Inika, sans-serif;
    background-color: #ffe1d8;
}

/* Buttons */

.black-btn {
    background-color: #000;
    border: #000;
}

.black-btn:hover {
    background-color: transparent;
    border: none;
    color: #000;
}

.red-btn {
    background-color: #a72d2d;
    border: #a72d2d;
}

/* -------------------------------------------------------- Nav */

header {
    background-color: #FFFDF9;
}

.nav-link {
    color: black;
}

.log-link {
    margin-right: 20px;
}

.login-status {
    margin-right: 20px;
}

.basket-icon, .wishlist-icon {
    margin-right: 10px;
}

#basket-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    min-width: 50px;
    position: relative;
    margin: 0 10px;
}

.basket-icon {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    margin: 0;
    line-height: 1;
}

.basket-total {
    font-size: 1rem;
    color: #555;
    text-align: center;
    margin-top: 2px;
    white-space: nowrap; 
}

#basket-link:hover .basket-icon {
    color: #000;
}

#basket-link:hover .basket-total {
    color: #000;
}

/* -------------------------------------------------------- Logo */

.logo {
    width: 100px;
    padding: 15px 0;
}

/* -------------------------------------------------------- Footer */

footer {
    background-color: #FFFDF9;
}

.footer {
    justify-content: space-between;
}

/* Newsletter form */

#mc_embed_signup {
    background: #FFFDF9;
    clear: left;
    font-size: 14px;
    font-family: Inika, sans-serif;
    width: 400px;
}

.newsletter-form {
    background-color: #FFFDF9;
    border-radius: 2rem;
    padding: 10px;
    width: 450px;
    margin: 0 auto;
}

#newsletter {
    padding: 20px;
    color: #212529;
    box-sizing: border-box;
}

#newsletter h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#newsletter .mc-field-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#newsletter .mc-field-group input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#newsletter input[type="submit"] {
    cursor: pointer;
}

#newsletter input[type="submit"]:hover {
    background-color: #142f4d;
}

/* -------------------------------------------------------- Home Page */

/* Home Banner */

.home-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(/static/images/site-media/home-banner.png);
    padding: 120px 20px;
    background-position: center;
    justify-content: space-between;
    color: #fafafa;
}

/* About */

.about-sec {
    justify-content: space-evenly;
    background-color: #ffc2b1;
    padding: 50px 0;
}

.about-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url(/static/images/site-media/about-img.png);
    border-radius: 2rem;
    height: auto;
    width: 350px;
}

/* Best Sellar List */

.best-seller-sec {
    background-color: #9a503c;
    padding: 30px 0;
    color: white;
    text-align: center;
}

.best-sellers a {
    text-decoration: none;
    color: #fff;
}

.best-sellers a:hover {
    color: #FFE4AE;
}

.best-seller-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto;
    transition: transform 0.3s ease;
}

.best-seller-img:hover {
    transform: scale(1.05);
}

#best-seller-list h2 {
    margin-bottom: 10px;
}

#best-seller-list p {
    margin-bottom: 20px;
}

/* Sell Your Old Books */

.sell-books-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/static/images/site-media/user-form.png);
    background-size: cover;
    padding: 50px 20px;
}

form .form-group {
    margin-bottom: 1rem;
}

.country-field select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.used-books-form {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 50px 20px;
    max-width: 700px;
}

/* -------------------------------------------------------- Bookstore */

.search {
    padding-top: 70px;
}

.search-input {
    border: none;
    border-radius: 2rem;
    padding: 10px 20px;
    font-size: 16px; 
}

.search-button {
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #444;
}

.bookstore {
    background-color: #FFE4AE;
    padding-bottom: 20px;
}

.book-list-cover {
    background: transparent;
    border: none;
    margin: 0 auto;
    width: 220px;
}

.pag-controls {
    padding-top: 50px;
}

/* Book Detail */

#book-detail {
    padding: 30px 0;
}

.back-btn {
    text-decoration: none;
    font-weight: bold;
}

.back-btn:hover {
    text-decoration: underline;
}

.detail-btn {
    background-color: transparent;
    border: 1px solid black;
    color: #000;
    margin-bottom: 30px;
}

.detail-btn:hover {
    background-color: #313030;
    border: 1px solid black;
}

.book-detail-img {
    width: 350px;
}

.add-basket,
.add-wishlist {
    border: none;
    margin-right: 10px;
}

.add-basket {
    background-color: #282828;
}

.add-basket:hover {
    background-color: #262626;
}

.edit-item {
    background-color: #282828;
    border: 1px solid #282828;
}

.edit-item:hover {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}

/* Reviews */

#reviews {
    padding: 70px 0;
}

.review-list {
    background-color:  #f0b339;
    border: none;
    color: #000;
    border-radius: 2rem;
    max-width: 800px;
    margin: 50px;
}

.add-review {
    margin-top: 50px;
}

#rating-slider {
    width: 70%;
    margin: 0 auto;
    display: block;
}

textarea {
    border: none;
    border-radius: 8px;
    background-color: #f8f9fa;
    padding: 10px;
    width: 90%;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-review {
    background-color: #000;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.submit-review:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

/* Add book - super user */

.add-book-btn {
    background-color: #000;
    border-radius: 2rem;
    color: white;
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
}

.add-book-btn:hover {
    background-color: #2d2c2c;
}

/* Add book / edit book forms */

#add-book, 
#edit-book {
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/static/images/site-media/home-banner.png);
}

.form-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 50px 0;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea, 
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-group input:focus, 
.form-group textarea:focus, 
.form-group select:focus {
    border-color: #6c757d;
    box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

/* -------------------------------------------------------- Basket */

#basket {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/static/images/site-media/basket-bg.png) ;
    padding: 100px 0;
}

.checkout-btn {
    border: 1px solid #ffffff;
    margin-top: 30px;
}


/* -------------------------------------------------------- Checkout */

#checkout {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(/static/images/site-media/store-banner.png);
    padding: 50px 0;
}

#checkout-success {
    background-color: #FFE4AE;
}

/* -------------------------------------------------------- Register/Login/Logout */

#login,
#logout,
#signup {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(/static/images/site-media/customer-service-bg.png) ;
}

.log-form-card {
    margin: 0 auto;
    max-width: 600px;
    padding: 100px 20px;
}

/* -------------------------------------------------------- Customer Service */

.customer-service-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(/static/images/site-media/customer-service-bg.png);
    padding: 100px 0;
}

.customer-service-form {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.customer-service-form label {
    font-weight: bold;
    color: #333;
}

.customer-service-form .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.customer-service-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* -------------------------------------------------------- Profile */

.form-control {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 0;
}

#user-info {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(/static/images/site-media/profile-bg.png);
}

.user-profile-info {
    background-color: #FFFDF9;
    padding: 20px;
    border-radius: 2rem;
    max-width: 500px;
    
}

#edit-profile-page,
#edit-user-info {
    background-color: #FFE4AE;
}

#edit-user-info {
    padding: 20px;
}

.edit-profile {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

#user-info h4, #wish-list h4 {
    font-weight: bold;
    color: #333;
}

#user-info ul, #wish-list ul {
    list-style-type: none;
    padding: 0;
}

#user-info ul li, #wish-list ul li {
    margin-bottom: 10px;
}

#wish-list ul li strong {
    color: #007bff;
}

#wish-list {
    background-color: #FFFDF9;
    border-radius: 2rem;
    max-width: 500px;
}

/* -------------------------------------------------------- 404 error Page */

.error-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)), url(/static/images/site-media/profile-bg.png);
    padding: 100px;
}

/* -------------------------------------------------------- Media Queries */

/* Mobile/Tablet sizes */
@media screen and (min-width: 350px) {

    /* Newsletter form - Footer */
    #mc_embed_signup {
        width: 300px;
    }

    .newsletter-form {
        width: 350px;
        padding: 5px;
    }

    #newsletter h2 {
        font-size: 1rem;
    }

    /* Bookstore */
    .book-list-cover {
        width: 300px;
    }
}


/* tablet / iPad sizes */
@media screen and (min-width: 768px) {

    /* Bookstore */
    .book-list-cover {
        width: 220px;
    }

    .user-profile-info {
        margin: 30px;
    }

    #wish-list {
        margin: 30px; 
    }
}


/* Styles for screens larger than 1000px */
@media screen and (min-width: 1000px) {

    /* About Page */
    .about-img {
        height: 500px;
        width: 400px;
    }

    .about-content {
        margin-top: 100px;
    }

    /* Best Sellers */
    .best-seller-img {
        height: 160px;
        width: 160px;
    }
}


/* Laptop/Desktop sizes */
@media screen and (min-width: 1300px) {
    .user-profile-info {
        margin: 30px 100px;
    }

    #wish-list {
        margin-left: 150px; 
    }
}

@media screen and (min-width: 1700px) {
    .user-profile-info {
        margin: 30px 200px;
    }

    #wish-list {
        margin-left: 200px; 
    }
}