{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center log-form-card">
  <div class="card shadow-lg p-4 mt-3 mb-3 col-12">
      <h1 class="text-center mb-4">{% trans "Sign Up" %}</h1>

      <p class="text-center">
          {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
      </p>

      <form id="signup_form" method="post" action="{% url 'account_signup' %}" class="needs-validation" novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-signup w-100 mt-3">{% trans "Sign Up" %} &raquo;</button>
      </form>
  </div>
</div>
{% endblock content %}